// 컬러
$Uglybg : #FFF4E0;
$Uglyred : #FF2F2F;
$Uglyorange : #FE663F;
$Uglygreen : #5EAB42;
$Uglybrawn : #CD8F50;
$Uglypupple : #B552E4;
$Uglydarkgray : #333333;
$Uglygray : #9D9D9D;
$Uglylightgray : #CECECE;
$Uglyline : #E8E8E8;

.colorBg {
    background-color: $Uglybg;
}
.colorOrange {
    color: $Uglyorange;
}

ul, li, dl, dt, dd, a, p, h1, h2{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: $Uglydarkgray;
}

// 컴포넌트 간격 여백
html body .componentBlankS {
    padding-bottom: 100px !important;
    @media (max-width : 990px) {
        padding-bottom: 30px !important;
    }
}
html body .componentBlankL {
    padding-bottom: 200px !important;
    @media (max-width : 990px) {
        padding-bottom: 60px !important;
    }
}

// 컴포넌트별 백그라운드
// left, transform 분리하기
.basetop:before{
    top:0
}
.basebottom:before{
    bottom:0
}
.bgType1L:before{
    position: absolute;
    content: "";
    display: block;
    width:100vw;
    height: 10.64vw;
    background:url(../../public/img/background/background1.svg);
    background-repeat: no-repeat;
    background-position: left 0 top 0;
    background-size: contain;
    z-index: -1;
    transform: scaleX(-1);
    left: 0;
    @media (max-width : 990px) {
        display: none;
    }
}
.bgType1R:before{
    position: absolute;
    content: "";
    display: block;
    width:100vw;
    height: 10.64vw;
    background:url(../../public/img/background/background1.svg);
    background-repeat: no-repeat;
    background-position: left 0 top 0;
    background-size: contain;
    z-index: -1;
    left: 0;
    @media (max-width : 990px) {
        display: none;
    }
}
.bgType1ReverseL:before{
    position: absolute;
    content: "";
    display: block;
    width:100vw;
    height: 10.64vw;
    background:url(../../public/img/background/background1.svg);
    background-repeat: no-repeat;
    background-position: left 0 top 0;
    background-size: contain;
    z-index: -1;
    transform: scale(-1, -1);
    left: 0;
    @media (max-width : 990px) {
        display: none;
    }
}
.bgType1ReverseR:before{
    position: absolute;
    content: "";
    display: block;
    width:100vw;
    height: 10.64vw;
    background:url(../../public/img/background/background1.svg);
    background-repeat: no-repeat;
    background-position: left 0 top 0;
    background-size: contain;
    z-index: -1;
    transform: scaleY(-1);
    left: 0;
    @media (max-width : 990px) {
        display: none;
    }
}
.bgType2:before{
    position: absolute;
    content: "";
    display: block;
    width:100vw;
    height: 13.67vw;
    background:url(../../public/img/background/background2.svg);
    background-repeat: no-repeat;
    background-position: left 0 top 0;
    background-size: contain;
    z-index: -1;
    left: 0;
    @media (max-width : 990px) {
        display: none;
    }
}
.bgType2Reverse:before{
    position: absolute;
    content: "";
    display: block;
    width:100vw;
    height: 13.67vw;
    background:url(../../public/img/background/background2.svg);
    background-repeat: no-repeat;
    background-position: left 0 top 0;
    background-size: contain;
    z-index: -1;
    transform: scaleY(-1);
    left: 0;
    @media (max-width : 990px) {
        display: none;
    }
}
.bgType3L:before{
    position: absolute;
    content: "";
    display: block;
    width:100vw;
    height: 31.25vw;
    background:url(../../public/img/background/background3.svg);
    background-repeat: no-repeat;
    background-position: left 0 top 0;
    background-size: contain;
    z-index: -1;
    left: 0;
    @media (max-width : 990px) {
        display: none;
    }
}
.bgType3R:before{
    position: absolute;
    content: "";
    display: block;
    width:100vw;
    height: 31.25vw;
    background:url(../../public/img/background/background3.svg);
    background-repeat: no-repeat;
    background-position: left 0 top 0;
    background-size: contain;
    z-index: -1;
    transform: scaleX(-1);
    left: 0;
    @media (max-width : 990px) {
        display: none;
    }
}
.bgType3ReverseL:before{
    position: absolute;
    content: "";
    display: block;
    width:100vw;
    height: 31.25vw;
    background:url(../../public/img/background/background3.svg);
    background-repeat: no-repeat;
    background-position: left 0 top 0;
    background-size: contain;
    z-index: -1;
    transform: scaleY(-1);
    left: 0;
    @media (max-width : 990px) {
        display: none;
    }
}
.bgType3ReverseR:before{
    position: absolute;
    content: "";
    display: block;
    width:100vw;
    height: 31.25vw;
    background:url(../../public/img/background/background3.svg);
    background-repeat: no-repeat;
    background-position: left 0 top 0;
    background-size: contain;
    z-index: -1;
    transform: scale(-1, -1);
    left: 0;
    @media (max-width : 990px) {
        display: none;
    }
}

// 컨테이너 커스텀(~ 991px 이상만 적용)
.container.customWidthL {
    max-width: 1824px !important;
    margin: 0 auto !important;
    padding: 0;
    @media (max-width : 990px) {
        max-width: none !important;
    }
}
.container.customWidthM {
    max-width: 1600px !important;
    margin: 0 auto !important;
    padding: 0;
    @media (max-width : 990px) {
        max-width: none !important;
    }
}
.container.customWidthS {
    max-width: 1400px !important;
    margin: 0 auto !important;
    padding: 0;
    @media (max-width : 990px) {
        max-width: none !important;
    }
}
.customFluid {
    width: 100%;
    padding-right: var(--bs-gutter-x, 1rem);
    padding-left: var(--bs-gutter-x, 1rem);
    margin-right: auto;
    margin-left: auto;
    @media (max-width: 990px) {
        width: initial !important;
        padding-right: initial !important;
        padding-left: initial !important;
        margin-right: initial !important;
        margin-left: initial !important;
    }
}

// 로고
.logoWidth{
    max-width: 130px;
    @media (max-width : 990px) {
        max-width: 100px;
    }
}
.logoMargin{
    margin-bottom: 7px;
    @media (max-width : 990px) {
        margin-bottom: 0;
    }
}

// 공용 디자인 요소
.radiusCustom {
    border-radius: 20px;
    @media (max-width : 990px) {
        border-radius: 10px;
    }
}

// 폰트
// 전체 공용 스타일
html body {
    font-family: 'Pretendard';
    letter-spacing: -0.02rem;
    color: $Uglydarkgray;
}

.customLineheight {
    line-height: 1.2;
}

// 폰트 두께
.fontThin {
    font-weight: 100 !important;
}
.fontLight {
    font-weight: 300 !important;
}
.fontRegular {
    font-weight: 400 !important;
}
.fontMedium {
    font-weight: 500 !important;
}
.fontSemibold {
    font-weight: 600 !important;
}
.fontBold {
    font-weight: 700 !important;
}

// 커스텀
.fontNavi {
    font-size: 18px;
    font-weight: 500;
    color: #000000;
}
.fontNaviSub {
    font-size: 16px;
    font-weight: 400;
}
.fontUtil {
    font-size: 13px;
    font-weight: 400;
    color: #000000;
}
.fontEventTimer {
    font-size: 12px;
    font-weight: 600;
    color: #ffffff;
}
.fontMainSwiper {
    font-size: 38px;
    line-height: 3.3rem;
}
.fontText {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5rem;
}
.fontVegeSwiper {
    font-family: 'HSYuji-Regular';
    font-size: 120px;
    color: $Uglyorange;
    line-height: 1;
}
.fontReviewSubs {
    font-size: 14px;
    font-weight: 600;
}
.fontReviewName {
    font-size: 14px;
    font-weight: 500;
}
.fontReviewText {
    font-size: 13px;
    font-weight: 300;
    letter-spacing: -0.4rem;
    line-height: 1.3rem;
}
.fontTypeTag {
    font-size: 15px;
    font-weight: 600;
}
.fontMarketName {
    font-size: 15px;
    font-weight: 500;
}
.fontMarketPrice {
    font-size: 16px;
    font-weight: 700;
}
.fontMarketPriceLine {
    font-size: 16px;
    font-weight: 400;
    color: $Uglylightgray;
    text-decoration: line-through;
}
.fontMarketReview {
    font-size: 14px;
    font-weight: 300;
}
.fontRecipeName {
    font-size: 22px;
    font-weight: 600;
}
.fontRecipeText {
    font-size: 18px;
    font-weight: 300;
}
.fontMapTitle {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.8rem;
}
.fontMapSubtitle {
    font-size: 18px;
    font-weight: 600;
}
.fontFormboxTitle {
    font-size: 22px;
    font-weight: 600;
}
.fontInputTitle {
    font-size: 16px;
    font-weight: 500;
}
.fontPlacehold {
    font-size: 14px;
    font-weight: 300;
}
.fontFooterTitle {
    font-size: 18px;
    font-weight: 700;
}
.fontFooterBd {
    font-size: 14px;
    font-weight: 600;
}
.fontFooterText {
    font-size: 14px;
    font-weight: 300;
}
.fontQuick {
    font-size: 13px;
    font-weight: 500;
}

@media (max-width : 1500px) {
    .fontVegeSwiper {
        font-size: 7vw;
    }
}
@media (max-width : 1122px) {
    .fontMainSwiper {
        font-size: 2rem;
        line-height: 2.5rem;
    }
    .fontFooterText {
        font-size: 0.625rem;
    }
}

@media (max-width : 990px) {
    .fontNavi {
        font-size: 0.88rem;
    }
    .fontNaviSub {
        font-size: 0.738rem;
    }
    .fontUtil {
        font-size: 0.625rem;
    }
    .fontEventTimer {
        font-size: 0.75rem;
    }
    .fontMainSwiper {
        font-size: 1.25rem;
        line-height: 1.6rem;
    }
    .fontText {
        font-size: 1rem;
    }
    .fontVegeSwiper {
        font-size: 5rem;
    }
    .fontReviewSubs {
        font-size: 0.75rem;
    }
    .fontReviewName {
        font-size: 0.75rem;
    }
    .fontReviewText {
        font-size: 0.8125rem;
    }
    .fontTypeTag {
        font-size: 0.5rem;
    }
    .fontMarketName {
        font-size: 0.5rem;
    }
    .fontMarketPrice {
        font-size: 0.625rem;
    }
    .fontMarketPriceLine {
        font-size: 0.625rem;
    }
    .fontMarketReview {
        font-size: 0.5rem;
    }
    .fontRecipeName {
        font-size: 0.625rem;
    }
    .fontRecipeText {
        font-size: 0.5rem;
    }
    .fontMapTitle {
        font-size: 1rem;
        line-height: 1.3rem;
    }
    .fontMapSubtitle {
        font-size: 0.75rem;
    }
    .fontFormboxTitle {
        font-size: 1.0625rem;
    }
    .fontInputTitle {
        font-size: 0.8125rem;
    }
    .fontPlacehold {
        font-size: 0.75rem;
    }
    .fontFooterTitle {
        font-size: 0.875rem;
    }
    .fontFooterBd {
        font-size: 0.625rem;
    }
    .fontQuick {
        font-size: 0.65rem;
    }
}

@media (max-width : 480px) {
    .fontVegeSwiper {
        font-size: 3.125rem;
    }
}