// 컬러
$Uglybg : #FFF4E0;
$Uglyred : #FF2F2F;
$Uglyorange : #FE663F;
$Uglygreen : #5EAB42;
$Uglybrawn : #CD8F50;
$Uglypupple : #B552E4;
$Uglydarkgray : #333333;
$Uglygray : #9D9D9D;
$Uglylightgray : #CECECE;
$Uglyline : #E8E8E8;

.customPadding {
    padding: 200px 0;
}


.vegeSubsBgL{
    &:before {
        position: absolute;
        content: "";
        display: block;
        width:100vw;
        height: 15.63vw;
        background:url(../../public/img/vegeSubs/vegeSubsBgL_top.svg);
        background-repeat: no-repeat;
        background-position: center top 0;
        background-size: contain;
        z-index: 1;
        @media (max-width : 990px) {
            display: none;
        }
    }
    &:after {
        position: absolute;
        content: "";
        display: block;
        width:100vw;
        height: 15.63vw;
        background:url(../../public/img/vegeSubs/vegeSubsBgL_bottom.svg);
        background-repeat: no-repeat;
        background-position: center top 50;
        background-size: contain;
        z-index: 1;
        @media (max-width : 990px) {
            display: none;
        }
    }
}

@media (max-width : 990px) {
    .vegeSubsBgS{
        &:before {
            position: absolute;
            content: "";
            display: block;
            width:100vw;
            height: 10.10vw;
            background:url(../../public/img/vegeSubs/vegeSubsBg_S.svg);
            background-repeat: no-repeat;
            background-position: center top 0;
            background-size: contain;
            z-index: 1;
        }
        &:after {
            position: absolute;
            content: "";
            display: block;
            width:100vw;
            height: 10.10vw;
            background:url(../../public/img/vegeSubs/vegeSubsBg_S.svg);
            background-repeat: no-repeat;
            background-position: center top 50;
            background-size: contain;
            z-index: 1;
        }
    }
}

